.App {
  text-align: left;
}

.todoOutput {
  margin: 20px auto 20px auto;
  width: 500px;
  min-height: 600px;
  border: 5px solid rgba(73, 204, 249, 1.0);
  padding: 20px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

h1 {
  text-align: center;
}

/* div {
  margin: 30px;
  background-color: rgb(233, 225, 229);
} */
